/* Header styling ------------------------ */
header {
    background-color: #d4d4d4;
    padding: 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

/* nav {
    background-color: #f5f5f5;
} */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: rgb(239, 239, 239);
}
/* --------------------------------------- */

/* Main content styling ------------------ */
main {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}
/* --------------------------------------- */

/* Footer styling ------------------------ */
footer {
    background-color: #b4b4b4;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
}

.footer-list {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-list h4 {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-top: 15px;
}

.footer-list li {
    list-style-type: none;
}

.footer-list li li {
    display: flex;
    font-size: medium;
    padding: 0px;
}

.footer-list li ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-list a {
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.footer-list a:hover {
    color: rgb(239, 239, 239);
}

/* --------------------------------------- */

/* General styling ----------------------- */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 10px;
}

img {
    max-width: 50%;
    height: auto;
    box-shadow: #b4b4b4 5px 5px 5px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0px;
    padding-bottom: 0;
}

p {
    font-size: 1em;
    font-family: 'Arial', Helvetica, sans-serif;
}
/* --------------------------------------- */